$layout-breakpoint: 960px;

$bg: radial-gradient(farthest-side at 90% 5%, rgb(129, 22, 68), rgb(82, 0, 120));
$card-color:linear-gradient(34deg, rgba(11,0,198,1) 0%, rgba(26,116,205,1) 35%, rgba(236,74,74,1) 100%); 
$black: rgb(30, 30, 30);
$dark-gray: rgb(70, 70, 70);
$lt-gray: rgb(150,150,150);
$white: rgb(240,240,240);